body {
    font-family: Arial, sans-serif;
    background: #1e1e2f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.password-generator {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: #2a2a40;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}

.output {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #000;
    border-radius: 5px;
    word-break: break-all;
}

#password {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    font-size: 1rem;
}

#copy-btn {
    padding: 10px;
    border: none;
    background: #2db67d;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.options, .controls {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

button {
    background: #2db67d;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

button:hover {
    background: #218838;
}